.dark-theme, html[data-theme=dark] {
    /* palette */
    --rose-pine-base: 249deg, 22%, 12%;
    --rose-pine-surface: 247deg, 23%, 15%;
    --rose-pine-overlay: 248deg, 25%, 18%;
    --rose-pine-muted: 249deg, 12%, 47%;
    --rose-pine-subtle: 248deg, 15%, 61%;
    --rose-pine-text: 245deg, 50%, 91%;
    --rose-pine-love: 343deg, 76%, 68%;
    --rose-pine-gold: 35deg, 88%, 72%;
    --rose-pine-rose: 2deg, 55%, 83%;
    --rose-pine-pine: 197deg, 49%, 38%;
    --rose-pine-foam: 189deg, 43%, 73%;
    --rose-pine-iris: 267deg, 57%, 78%;
    --rose-pine-highlight-low: 244deg, 18%, 15%;
    --rose-pine-highlight-med: 249deg, 15%, 28%;
    --rose-pine-highlight-high: 248deg, 13%, 36%;


    /* background */
    --ls-primary-background-color: hsl(var(--rose-pine-base));
    --ls-secondary-background-color: hsl(var(--rose-pine-surface));
    --ls-tertiary-background-color: hsl(var(--rose-pine-overlay));
    --ls-quaternary-background-color: hsl(var(--rose-pine-highlight-med));


    /* menu & sidebars */
    --ls-header-button-background: hsl(var(--rose-pine-subtle));
    --ls-menu-hover-color: hsl(var(--rose-pine-overlay));

    --ls-slide-background-color: var(--ls-primary-background-color);


    /* text */
    --ls-title-text-color: hsl(var(--rose-pine-text));
    --ls-primary-text-color: hsl(var(--rose-pine-text));
    --ls-secondary-text-color: hsl(var(--rose-pine-love));

    --ls-selection-text-color: var(--ls-secondary-text-color);
    --ls-selection-background-color: var(--ls-quaternary-background-color);
    --ls-block-highlight-color: hsl(var(--rose-pine-highlight-high));

    --ls-page-mark-color: var(--ls-secondary-text-color);
    --ls-page-mark-bg-color: hsl(var(--rose-pine-highlight-med));

    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-page-inline-code-bg-color: hsl(var(--rose-pine-highlight-med));

    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: hsl(var(--rose-pine-highlight-med));
    --ls-page-blockquote-border-color: hsl(var(--rose-pine-highlight-high));


    /* block parts */
    --ls-block-bullet-color: hsl(var(--rose-pine-muted));
    --ls-block-bullet-border-color: hsl(var(--rose-pine-subtle));


    /* search results palette */
    --ls-search-icon-color: hsl(var(--rose-pine-subtle));
    --ls-search-icon-hover-color: hsl(var(--rose-pine-iris));


    /* external links */
    --ls-link-text-color: hsl(var(--rose-pine-foam));
    --ls-link-text-hover-color: hsl(var(--rose-pine-iris));


    /* internal links */
    --ls-link-ref-text-color: hsl(var(--rose-pine-foam));
    --ls-link-ref-text-hover-color: hsl(var(--rose-pine-iris));

    --ls-tag-text-color: var(--ls-link-ref-text-color);
    --ls-tag-text-hover-color: var(--ls-link-ref-text-hover-color);

    --ls-cloze-text-color: var(--ls-link-ref-text-color);


    /* task */
    --ls-marker-text-color: hsl(var(--rose-pine-rose));
    --ls-marker-text-bg-color: hsl(var(--rose-pine-highlight-med));
    --ls-marker-text-bg-hover-color: hsl(var(--rose-pine-highlight-high));


    /* checkboxes and radio buttons */
    --ls-page-checkbox-color: hsl(var(--rose-pine-rose));
    --ls-page-checkbox-border-color: var(--ls-primary-background-color);


    /* properties */
    --ls-page-properties-background-color: hsl(var(--rose-pine-highlight-low));
    --ls-block-properties-background-color: var(--ls-page-properties-background-color);


    /* scrollbars, table header and various ui borders */
    --ls-table-tr-even-background-color: hsl(var(--rose-pine-surface));

    --ls-border-color: hsl(var(--rose-pine-overlay));
    --ls-secondary-border-color: hsl(var(--rose-pine-muted));
    --ls-tertiary-border-color: hsl(var(--rose-pine-subtle));

    --ls-wb-stroke-color-default: hsl(var(--rose-pine-text));


    /* filter & edit buttons on main layout */
    --ls-icon-color: hsl(var(--rose-pine-iris));


    /* on-boarding and some unknown ui */
    --ls-active-primary-color: hsl(var(--rose-pine-overlay));
    --ls-active-secondary-color: hsl(var(--rose-pine-surface));

    --ls-guideline-color: hsl(var(--rose-pine-base));

    --ls-scrollbar-foreground-color: hsl(var(--rose-pine-muted));
    --ls-scrollbar-background-color: hsl(var(--rose-pine-surface));
    --ls-scrollbar-thumb-hover-color: hsl(var(--rose-pine-subtle));

    --ls-a-chosen-bg: hsl(var(--rose-pine-overlay));


    /* block references border color and slash-commands group color */
    --ls-block-ref-link-text-color: hsl(var(--rose-pine-foam));


    /* block background highlights */
    --ls-highlight-color-gray:   hsl(var(--rose-pine-muted));
    --ls-highlight-color-red:    hsl(var(--rose-pine-love));
    --ls-highlight-color-yellow: hsl(var(--rose-pine-gold));
    --ls-highlight-color-green:  hsl(var(--rose-pine-pine));
    --ls-highlight-color-blue:   hsl(var(--rose-pine-foam));
    --ls-highlight-color-purple: hsl(var(--rose-pine-iris));
    --ls-highlight-color-pink:   hsl(var(--rose-pine-rose));


    /* notifications */
    --ls-error-text-color: hsl(var(--rose-pine-love));
    --ls-warning-text-color: hsl(var(--rose-pine-gold));
    --ls-success-text-color: hsl(var(--rose-pine-pine));

    --ls-error-background-color: hsl(var(--rose-pine-highlight-high));
    --ls-warning-background-color: hsl(var(--rose-pine-highlight-med));
    --ls-success-background-color: hsl(var(--rose-pine-highlight-low));


    /* color levels */
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
}

html[data-theme=dark] {
    /* radix */

    --background:  var(--rose-pine-base);

    --primary:     var(--rose-pine-pine);
    --secondary:   var(--rose-pine-foam);
    --accent:      var(--rose-pine-iris);

    --foreground:             var(--rose-pine-subtle);
    --primary-foreground:     var(--rose-pine-subtle);
    --secondary-foreground:   var(--rose-pine-muted);
    --accent-foreground:      var(--rose-pine-muted);

    --card:        var(--background);
    --popover:     var(--background);
    --muted:       var(--background);
    --destructive: var(--background);

    --card-foreground:        var(--foreground);
    --popover-foreground:     var(--foreground);
    --muted-foreground:       var(--foreground);
    --destructive-foreground: var(--foreground);

    --border:      var(--rose-pine-overlay);
    --muted:       var(--rose-pine-muted);
    --input:       var(--rose-pine-love);
    --ring:        var(--rose-pine-gold);
}

/* code blocks */

html[data-theme=dark] .CodeMirror {
    color: hsla(var(--rose-pine-subtle), .7) !important;
    background-color: var(--ls-primary-background-color) !important;
}
html[data-theme=dark] .CodeMirror .CodeMirror-activeline-background  {
    background: var(--background);
}
html[data-theme=dark] .CodeMirror .CodeMirror-gutters {
    background-color: var(--ls-secondary-background-color);
}

html[data-theme=dark] .CodeMirror .cm-keyword {
    color: var(--ls-secondary-text-color);
}
html[data-theme=dark] .CodeMirror .cm-operator {
    color: var(--ls-primary-text-color);
    opacity: 0.7;
}
html[data-theme=dark] .CodeMirror .cm-property {
    color: var(--ls-primary-text-color);
}
html[data-theme=dark] .CodeMirror .cm-builtin {
    color: hsl(var(--rose-pine-love));
}
html[data-theme=dark] .CodeMirror .cm-number {
    color: hsl(var(--rose-pine-foam));
}
html[data-theme=dark] .CodeMirror .cm-meta {
    color: hsl(var(--rose-pine-pine));
}
html[data-theme=dark] .CodeMirror .cm-string,
html[data-theme=dark] .CodeMirror .cm-string-2 {
    color: hsl(var(--rose-pine-gold));
}
html[data-theme=dark] .CodeMirror .cm-comment {
    color: hsl(var(--rose-pine-muted));
}
html[data-theme=dark] .CodeMirror .cm-variable,
html[data-theme=dark] .CodeMirror .cm-qualifier,
html[data-theme=dark] .CodeMirror .cm-variable-3,
html[data-theme=dark] .CodeMirror .cm-type {
    color: var(--ls-primary-text-color);
}
html[data-theme=dark] .CodeMirror .cm-variable-2 {
    color: var(--ls-primary-text-color);
    font-style: italic;
    opacity: 0.7;
}
html[data-theme=dark] .CodeMirror .cm-def,
html[data-theme=dark] .CodeMirror .cm-attribute,
html[data-theme=dark] .CodeMirror .cm-atom,
html[data-theme=dark] .CodeMirror .cm-tag {
    color: var(--ls-secondary-text-color);
    font-style: italic;
}

/* bug fixes */
html:not(html[data-color]),
html[data-theme=light][data-color='logseq'],
html[data-theme=dark][data-color='logseq'],
html[data-color='none'] {
    ::selection {
        color: var(--ls-selection-text-color);
        background-color: var(--ls-selection-background-color);
    }
}